<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/3.7.0"
    id        = "com.phonegap.clubsolaris"
    version   = "1.0.1">


<icon src="imgs/icon.png" />
<name>Calculadora</name>

<description>
Club Solaris Members Application.
</description>

<author href="clubsolaris.com/apps" email="gowpga@gmail.com">
Ing. Jonathan Argumedo Montenegro
</author>


 <preference name="phonegap-version" value="3.1.0" />
 <gap:plugin name="org.apache.cordova.device" />
  
<gap:plugin name="org.apache.cordova.device-motion" />
<gap:plugin name="org.apache.cordova.dialogs" />
<gap:plugin name="org.apache.cordova.media-capture" />
<gap:plugin name="org.apache.cordova.geolocation" />
<gap:plugin name="org.apache.cordova.contacts" />
<gap:plugin name="org.apache.cordova.media" />
</widget>
